body1 {
    height: 125vh;
    background-size: cover;
    font-family: sans-serif;
}
header {
    background-color: white;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    align-items: center;

}
header img {
    height: 80px;
    width: auto;
}

header * {
    display: inline;
}


h1{
    padding-top: 20px;
    background: pink;
    text-align: center;
}
body
{
	font-family: Arial;
    background: beige;
}

img {
	width:100%;
}

#main {
	width:600px;
	margin:40px auto;
    background: white;
    padding: 20px;
    border-style: double;
    border-width: 20px;
}

.wikitable {
    background-color: #f8f9fa;
    color: #222;
    width:100%;
    margin: 1em 0;
    border: 1px solid #a2a9b1;
    border-collapse: collapse;
}

.wikitable th {
    background-color: #eaecf0;
    text-align: center;
    border: 1px solid #a2a9b1;
    padding: 0.3em;	
}

.wikitable td {
    padding: 0.5em;	
    text-align: center;
}